*{
    margin: 0;
    padding: 0;
    font-family:impact, fantasy;
}
.overlay {
    font-family:impact, fantasy;
    position: absolute;
    top: 85px;
    left: 50%;
    font-size: 170px;
    transform: translateX(-50%);
    z-index: 10; /* Ensure it is on top of other elements */
    color: white; /* Adjust text color for visibility */
}
.overlay-smaller{
    font-family:impact, fantasy;
    position: absolute;
    top: 125px;
    left: 50%;
    font-size: 115px;
    transform: translateX(-50%);
    z-index: 10; /* Ensure it is on top of other elements */
    color: white; /* Adjust text color for visibility */
}
.overlay-logo{
    position: absolute;
    top: 100px;
    left: 6%;
    font-size: 170px;
    transform: translateX(-50%);
    z-index: 10; /* Ensure it is on top of other elements */
    width: 120px;
}
.padding-login{
    padding-bottom: 70px;
    padding-top: 200px;
}
.logo-black{
    width:100px;
    position: relative;
    left: -5px;
    top: 10px;
    z-index: 10;
}
.pad_bot{
    padding-bottom: 130px;
}
.border-bottom{
    justify-content: left;
}
ul {
    list-style-type: none;
    padding: 0;
}
.body{
    background-color: black;
}
.text-link{
    font-size: 40px;
}
.link-top{
    color: white;
}
.link-top:hover{
    color: rgb(320, 215, 0);
    font-size: 102%;
}
.bigger-login:hover{
    color: rgb(320, 215, 0);
    font-size: 47px;
}
.my-img{
    width: 100%;
}
.footer-big{
    position: relative;
    top:80px;
    font-size: 150px;
}
.bg-color {
    background: linear-gradient(to bottom, #ffcc00, #ff9900);
}
.width-social{
   width: 42px;
}
.text-home-body{
    font-family: "Times New Roman";
    font-size: 27Px;
    text-align: center;
    color: white;
}
.footer-text{
    font-size: 30px;
    color:black;
}
.footer-text:hover{
    color:rebeccapurple;
}
.link-height{
    height: 30px;
}
.cp-small{
    color: black;
    font-size: 20px;
    padding-top: 20px;
    font-family: "Times New Roman";
}
.times-roman{
    font-family: "Times New Roman";
}
.footer-top-padding{
    padding-top: 50px;
}
.width-footer-icon{
    width:45Px;
}
.footer-links{
    text-align: end;
}
.login-text{
    font-size: 100Px;
    position: relative;
    bottom:-70px;
    color:white;
}
.bg-img{
 background-image: url("img/bg_home.png");
}
.ptop{
    padding: 40px 20px 20px;
}
.width-login{
    width:50%;
}
.gold:hover{
    color: gold;
}
.input-comment{
    width: 100%;
    height: 200Px;
}
.bg-light-gray{
    background: rgb(233, 233, 233);
}
@media(max-width:1000px){
    .overlay{
        font-size:110px;
        top: 95px;
    }
    .pad_bot{
        padding-bottom: 100px;
    }
    .logout{
        width: 40px;
    }
    .account{
        width: 45px;
    }
    .text-link{
        font-size: 25px;
    }
    .overlay-logo{
        width: 90px;
        left: 10%;
    }
    .footer-big{
        position: relative;
        top: 60px;
        font-size: 90px;
    }
    .font-normal{
        font-size: 15px;
        position: relative;
        top: 50px;
    }
    .footer-text{
        font-size: 25px;
    }
    .cp-small{
        font-size: 18px;
        position: relative;
        left: -15px;
    }
    .logo-black{
        width:80px;
        position: relative;
        left: -20px;
        top: 13px
    }
    .footer-top-padding{
        padding-top: 30px;
    }
    .width-social{
        width: 30px;
    }
    .width-footer-icon{
        width:35Px;
    }
    .text-home-body{
        font-size: 20Px;
    }
    .login-text{
        font-size: 80Px;
        top:60px
    }
}
@media(max-width: 500px){
    .overlay-logo{
        top: 120Px;
        left: 13%;
    }
}
@media(max-device-width: 400px){
    .footer-big{
        position: relative;
        left:-10Px;
    }
}
@media(max-device-width:600px){
    .overlay{
        font-size:70px;
        top: 80px;
        left: 50%;
    }
    .pad_bot{
        padding-bottom: 100px;
    }
    .logout{
        width: 40px;
        position: relative;
        bottom:5px;
    }
    .account{
        width: 45px;
        position: relative;
        bottom:5px;
    }
    .text-link {
        font-size: 22px;
        position: relative;
        left: 10Px;
    }
    .link-top-first{
        position: relative;
        left:7Px;
    }
    .mobile-modal{
        position: relative;
        bottom:40px;
        left:4%;
    }
    .my-img{
        width: 93%;
    }
    .home-text{
        position: relative;
        left:-10px;
        bottom:20Px;
    }
    .footer-big{
        top:50px;
        left: 0;
        font-size: 70px;
    }
    .footer-text{
        font-size: 20px;
        color:black;
    }
    .left{
        position: relative;
        left: -35px;
    }
    .cp-small{
        font-size: 17px;
        position: relative;
        left: -20px;
    }
    .logo-black{
        width:64px;
        position: relative;
        top:15px;
        left: -20px;
    }
    .width-social{
        width: 30px;
    }
    .footer-links{
        text-align: start;
    }
    .text-home-body{
        font-family: "Times New Roman";
        font-size: 20Px;
        position: relative;
    }
    .bigger-login{
        font-size: 45px;
    }
    .left-few{
        position: relative;

    }
    .overlay-logo{
        top: 100Px;
    }
}
