.container-body {
    display: flex;
    width: 100%;
}
.width-aside{
    width: 25%;
    border-color: white;
    border-top: white 2px outset;
    border-bottom: white 2px inset;
}
.width-body{
    width: 75%;
    border-color: white;
    border-top: white 2px outset;
    border-left: white 2px outset;
    border-bottom: white 2px inset;
}
.img-container {
    width: 100%;
    height: 310px; /* Adjust this height as needed */
    overflow: hidden;
}
.card{
    box-shadow: 0px 0px 25px gray;
    border-radius: 10px;
    border:none;
}
.card:hover{
    box-shadow: 0px 0px 25px #ffcc00;
    border-radius: 10px;
    border:none;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-fit{
    width: 100%;
    height: 100%;
}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height:70vh;
}
.text-aside{
    font-size: 20px;
}
.text-aside-big{
    font-size:20px;
}
.padding-watchlists{
    padding-left: 30px;
}
.list-style{
    list-style: circle;
}
.padding-card{
    padding:15Px;
}
.list-name{
    font-size: 40px;
}
.width-card{
    width: 17rem;
}
.item-css{
    font-family: "Times New Roman";
    background: black;
}
.list-group-horizontal .list-group-item {
    border: none;
}
.padding-form{
    padding-left: 40Px;
}
.times-roman {
    font-family: "Times New Roman", Times, serif;
}
.text-form-2{
    font-size: 19px;
}
.top-bit{
    position: relative;
    top: -55px;
    z-index: 5;
    color:black;
}
.watch-lists{
    margin-top: 50px;
    box-shadow: 0px 0px 50px gray;
    border-radius: 10px;
    border:none;
}
.watch-lists:hover{
    box-shadow:  0px 0px 50px#ffcc00;
}
.click {
    width: 128px;
    position: absolute;
    top: 42%;
    left: 23%;
    z-index: 15;
    transform: translateY(-50%);
    color: black;
    font-size: 32px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.arrow-left {
    left: 12px;
}

.arrow-right {
    right: 12px;
}

.card:hover .arrow-left,
.card:hover .arrow-right,
.card:hover .click{
    opacity: 1;
}
.overlayStash {
    font-family:impact, fantasy;
    position: absolute;
    top: 85px;
    left: 50%;
    font-size: 170px;
    transform: translateX(-50%);
    z-index: 10; /* Ensure it is on top of other elements */
    color: white; /* Adjust text color for visibility */
}
.font-size{
    font-size: 90px;
}
.date-text{
    font-family: "Times New Roman", Times, serif;
    font-size: 60PX;
}
.min-vh-50{
    min-height: 70vh;
}
.min-vh-20{
    min-height: 14vh;
}
.movie-name{
 font-size: 60px;
}
.smaller{
    font-size: 130Px;
}
.background {
    box-shadow: 0px 0px 40px gray;
    padding: 15px;
    margin: 10px; /* Adjust as necessary to create space between columns */
}
.width-video{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.text-down{
    font-size: 80px;
}
.comment-section{
    height: 50vh;
    background-color: whitesmoke;
    overflow-y: auto;
    scrollbar-color: rgb(270, 195, 0) transparent;
}
.comment-date{
    font-size:14px
}
.padding-comment-add{
    padding-top: 200Px;
}
.w-0{
    width: 1Px;
    margin: 0px;
}
.padding-button{
    padding-top:5Px;
}
.bg-light-gray::placeholder{
    color:white;
}
.bg-light-gray{
    color:white;
}
.input-comment-add{
    width: 100%;
    height: 40px;
    background: black;
    color:white;
    border:none;
    font-family:"Times New Roman", Times, serif;
}
.input-comment-add::placeholder{
    color: white;
}
.margin-button{
    margin-left: 17px;
}
@media(max-width: 1550px){

}
@media(max-width:1200px){

    .list-name{
        font-size: 35px;
    }

}
@media(max-width:1199px){
    .padding-comment-add{
        padding-top: 10Px;
    }
    .padding-button-bot{
        padding-bottom:3Px;
    }
}
@media(max-width:1000px) {
    .width-aside{
        width: 35%;
    }
    .width-body{
        width: 65%;
    }
    .list-name{
        font-size: 30px;
    }
    .pos-rel{
        right: 145Px;
    }
    .date-text{
        font-size: 50PX;
    }

}
@media(max-width: 800px){
    .width-aside{
        width: 40%;
    }
    .width-body{
        width: 60%;
    }
    .list-name{
        font-size:27px;
    }
    .pos-rel{
        right: 140Px;
    }
    .overlayStash {
        font-size: 150px;

    }
    .movie-name{
        font-size: 40px;
    }
    .smaller{
        font-size: 110px;
    }
    .background {
        box-shadow: 0px 0px 30px gray;
    }

}
@media(max-width: 767px){
    .width-video{
        width: 100%;
        height: 400Px;
    }
    .move-mobile{
        position: relative;
        right:45Px;
    }
    .padding-mobile{
        padding-top: 30Px;
    }
}
@media(max-width: 600px){
    .width-aside{
        width: 46%;
    }
    .width-body{
        width: 54%;
    }
    .overlay{
        font-size: 90px;
        top: 120px;
    }
    .list-name{
        font-size: 23px;
    }
    .img-container {
        width: 100%;
        height: 250px; /* Adjust this height as needed */
        overflow: hidden;
    }
    .width-card{
        width: 18rem;
    }
    .m-when-need{
        margin-top: 10Px;
    }
    .card:hover{
        box-shadow: 10px 10px 20px gold;
        border-radius: 10px;
        border:none;
    }
    .text-form-2{
        font-size: 16px;
    }
    .pos-rel{
        right: 10%
    }
    .text-aside-big{
        font-size: 18px;
    }
    .overlayStash {
        font-size: 130px;

    }
    .smaller{
        font-size: 96px;
    }
    .background {
        box-shadow: 0px 0px 25px gray;
    }
}

@media(max-device-width:600px){
    .width-aside{
        width: 35%;
    }
    .width-body{
        width: 65%;
    }
    .item-css{
        border: none;
    }
    .list-group-horizontal .list-group-item {
        border: none;
        padding: 0;
    }
    .mobile-right{
        position: relative;
        left: 2%;
    }
    .m-when-need{
        position: relative;
        top: -5Px;
    }
    .list-group-horizontal .list-group-item {
        padding: 5px 10px 5px 10px;
    }
    .overlayStash{
        top:110px;
    }
    .move-mobile{
        position: relative;
        right:45Px;
    }
    .padding-mobile{
        padding-top: 30Px;
    }
    .padding-button{
        padding-top:15Px
    }
    .padding-mobile-comment{
        position: relative;
        left: -13Px;
    }
}